* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background-color: #EDEDED;
  user-select: none;
}

@font-face {
  font-family: 'Kobe';
  src: url("/fonts/Kobe1.1-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Certeau';
  src: url("/fonts/CerteauWeb-Regular.woff2") format("woff2");
}

h1, p {
  font-family: 'Certeau';
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3.4em;
  grid-template-areas: 'content' 'nav';
}

nav {
  grid-area: nav;
  width: 100%;
  background-color: #008F74;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav li {
  list-style: none;
  width: 7em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  width: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

nav .logoFill {
  stroke: #EDEDED;
}

nav .logoFillFull {
  fill: #EDEDED;
}

.content {
  width: 90%;
  height: 95%;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 5fr 1fr;
  grid-template-areas: 'title' 'description' 'image' 'tools';
}

.content .title {
  grid-area: title;
  color: #008F74;
  align-self: start;
}

.content .image {
  grid-area: image;
  width: 100%;
  align-self: center;
  justify-self: center;
}

.content .description {
  grid-area: description;
  align-self: start;
  font-size: .9em;
  color: #008F74;
}

.content .tools {
  grid-area: tools;
  font-size: .75rem;
  color: #008F74;
  align-self: end;
  justify-self: end;
  text-align: right;
}

@media (min-width: 400px) {
  nav .homeLogoSVG:hover .homeLogo {
    stroke: #EDEDED;
  }
  nav .aboutLogoSVG:hover .aboutLogo {
    stroke: #EDEDED;
  }
  .content {
    width: 90%;
    height: 95%;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-template-areas: 'title' 'description' 'image' 'tools';
  }
  .content .title {
    grid-area: title;
    color: #008F74;
    align-self: start;
    font-size: 2.2rem;
  }
  .content .image {
    grid-area: image;
    width: 100%;
    align-self: start;
  }
  .content .description {
    grid-area: description;
    align-self: start;
    font-size: .9rem;
  }
  .content .tools {
    grid-area: tools;
    font-size: .8rem;
    color: #008F74;
    align-self: end;
    justify-self: end;
    text-align: right;
  }
}

@media (min-width: 650px) {
  nav {
    height: 100%;
    grid-area: nav;
    background-color: #008F74;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav li {
    list-style: none;
    width: 2em;
    height: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav a {
    text-decoration: none;
    width: 1.6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }
  main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3.4em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'content nav' 'content nav' 'content nav';
  }
  .content {
    grid-area: content;
    width: 95%;
    height: 95%;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'title . .' 'description image .' '. tools .';
  }
  .content .title {
    grid-area: title;
    color: #008F74;
    align-self: start;
    font-size: 2.2rem;
  }
  .content .image {
    grid-area: image;
    min-width: 450px;
    width: 100%;
  }
  .content .description {
    grid-area: description;
    align-self: start;
    font-size: .9rem;
    width: 80%;
  }
  .content .tools {
    grid-area: tools;
    font-size: .8rem;
    color: #008F74;
    align-self: end;
    justify-self: end;
    text-align: right;
  }
}
/*# sourceMappingURL=offbeat.css.map */